{% extends "base/base.html" %}
{% load static %}
{% block content %}
  <div class="row">
      <div class="col-md-6">
        <h5>What I am doing</h4>
        <p>Have you ever felt tired of visual information? If there is a sense of oversaturation, objects can leave my paintings, so all that's left are only lines, color spots, emotions and pure energy. But sometimes an object's form is more important and significant to me, so I do focus on it more and show it brightly and hyperbolically using the same tools as lines and spots.</p>  
        <h5>How I do work</h4>
        <p>I'm working in an expressive-impulsive manner, I am not afraid of mixing structures and chaos, strictly showing my character and attitude towards life.</p>
        <p>If I get any strong emotion from an object or view I saw, I need to portray it as soon as possible, without any delay for days. During my work time, I do not notice anything around. A fast manner requires a strong concentration.</p>
        <h5>My technique</h4>
        <p>In my works I use multi-layer painting. First, I make a structural composition of large color spots. Such fillings are divided into several layers. Later, using graphics, I set the direction and the tempo of the viewer's eye movement. I use watercolor, acrylic, pastel, charcoal, liners and markers. I’m not afraid to mix all this in one picture. So I’m usually staying between figurative and abstraction.</p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'base/images/volha.webp' %}">
      </div>
  </div> 
{% endblock %}
